body {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%
}

.maptitle {
  text-align: left;
  font-size: 0.8em;
  color: #333;
  position: absolute;
  top: 16px;
  left: 12px;
  height: auto;
  padding: 0em 1em 1em 1em;
  font-family: 'Source Sans Pro', sans-serif;
}

.maptitle h2 {
  margin-bottom: 0;
  font-weight: 900;
}

.maptitle svg {
  margin: 0 0 1em 0;
  padding: 0;
  position: relative;
}

#legend {
  color: #222;
  background: #fff;
  position: absolute;
  bottom: 180px;
  left: 0px;
  width: auto;
  opacity: 1;
  padding: 0.75em 1em 1em 1em;
  margin: 0em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 0.8em;
}

#legend svg {
  float: right;
}

.legendwrapper {
  padding-top: 0.5em;
  height: auto;
  display: inline-block;
}

.legendinfo {
  color: #999;
  height: 200px;
  margin: 0 0 0em 0;
  padding: 0 0 0em 0;
}

.legendinfo h2 {
  margin-bottom: 0;
  font-weight: 900;
}

.legenditems {
  padding: 0em 0em 0em 0em;
  overflow-y: auto;
  overflow-x: hidden;
}

#attr1, #attr2, #attr3, #attr4, #attr5, #attr6, #attr7, #attr8, #attr9, #attr10, #attr11, #attr12, #attr13 {
  color: #ddd;
  margin: 0;
  padding: 0;
  height: 5px;
  position: absolute;
}

/*span#attr3 {
  font-size: 1.62em;
}
*/
/* Scroll styling*/
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
